{% comment %}
    Product snippet

    @param product
    @param selected_variant
    @param width
    @param css_class
    @param display_social_buttons
    @param display_thumbnails
    @param enable_product_lightbox
    @param enable_thumbnail_slider
    @param enable_zoom
    @param gallery_arrows
    @param product_description_position
    @param product_height
    @param set_product_height
    @param slideshow_transition
    @param stickers_enabled
    @param tag_style
    @param thumbnail_position
    @param video_looping
    @param section_onboarding
  {% endcomment %}

{% comment %} HTML markup {% endcomment %}
{{ 'component-product-variant-picker.css' | asset_url | stylesheet_tag }}
{{ 'component-swatch.css' | asset_url | stylesheet_tag }}
{{ 'component-swatch-input.css' | asset_url | stylesheet_tag }}
{{ 'bundle-product.out.css' | asset_url | stylesheet_tag }}

<div class="product_section
            js-product_section
            container
            is-justify-space-between
            has-padding-bottom"
            >
  <div class="product__bundle w-100">
    <div class="product__bundle-heading-wrapper d-flex">
      <div class="product__bundle-heading-background"></div>
      <div class="product__bundle-heading">
        {% comment %} Name {% endcomment %}
        <h1 class="product-title title">
          {% if is_product_modal %}
            <a href="{{ product.url }}">{{ product.title }}</a>
          {% elsif section_onboarding %}
            {{ 'homepage.onboarding.product_title' | t }}
          {% else %}
            {{ product.title }}
          {% endif %}
        </h1>
        {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: true, product: product %}
        
        <div class="product__custom-price">
          {% if product.available %}
            {% if product.compare_at_price > product.price %}
              <span class="product-price sale">
                <span class="original-price h3">{{ product.compare_at_price | money }}</span>
                <span class="discounted-price h3">{{ product.price | money }}</span>
              </span>
            {% else %}
              <span class="product-price h3">{{ product.price | money }}</span>
            {% endif %}
          {% else %}
            <span class="product-price sold-out h3">{{- 'products.product.sold_out' | t -}}</span>
          {% endif %}
  
        </div>
        
      </div>
    </div>
    
    <div class="product__bundle-wrapper">
      <div class="product__bundle-border">
        <div class="product__bundle-border-text">
          <p>{{ 'bundles.build_your_bundle' | t }}</p>
        </div>
      </div>

      {% if product.metafields.custom.bundled_product_1.value != blank %}
        <div class="product__bundle-item d-flex">
          <div class="product__bundle-slider position-relative">
            <div class="product__bundle-slider-box">
              <div class="swiper-button-prev custom-swiper-button-prev js-products-bundle-prev-product-1">
                {% render 'icon-arrow' %}
              </div>
              <div class="swiper-button-next custom-swiper-button-next js-products-bundle-next-product-1">
                {% render 'icon-arrow' %}
              </div>
              <div class="product__bundle-slider-init js-bundle-slider-init-product-1" data-slider-wrapper="product-1">
                <div class="swiper-wrapper swiper-container">
                  {% for variant in product.metafields.custom.bundled_product_1.value.variants %}
                    {%- liquid
                      if variant.product.has_only_default_variant
                        assign bundle_variant_image = variant.product.featured_image
                      else
                        if variant.featured_image
                          assign bundle_variant_image = variant.featured_image
                        else
                          assign bundle_variant_image = variant.product.featured_image
                        endif
                      endif
                    -%}
                    <div class="swiper-slide" data-variant-id="{{ variant.id }}">
                      {{ bundle_variant_image | image_url: width: 460 | image_tag }}
                    </div>
                  {% endfor %}
                </div>
              </div>
              <p class="product__bundle-slider-label">{{ 'bundles.item' | t }} 1</p>
            </div>
          </div>
          <script>
            document.addEventListener("DOMContentLoaded", () => {
              const collectionSlider = new Swiper(".js-bundle-slider-init-product-1", {
                  slidesPerView: 1,
                  spaceBetween: 16,
                  centeredSlides: true,
                  breakpoints: {
                    900: {
                      slidesPerView: 2,
                      spaceBetween: 21,
                      centeredSlides: true,
          
                    },
                    1024: {
                      slidesPerView: 3,
                      spaceBetween: 21,
                      centeredSlides: true,
                    }
                  },
                  navigation: {
                    nextEl: ".js-products-bundle-next-product-1",
                    prevEl: ".js-products-bundle-prev-product-1",
                  },
              });
          });
          </script>
          <div class="product__bundle-info" data-info-wrapper="product-1">
            <p class="product__bundle-info-label">{{ 'bundles.item' | t }} 1</p>
            <h4>{{ product.metafields.custom.bundled_product_1.value.title }}</h4>
            {% render 'product-variant-picker', product: product.metafields.custom.bundled_product_1.value, block_index: 'product-1', skip_legend: true, block: section, product_form_id: product_form_id %}
            <a class="product__bundle-info-link" href="{{ product.metafields.custom.bundled_product_1.value.url }}">More about {{ product.metafields.custom.bundled_product_1.value.title }}</a>
          </div>
        </div>
      {% endif %}
      {% if product.metafields.custom.bundled_product_2.value != blank %}
        <div class="product__bundle-item d-flex">
          <div class="product__bundle-slider position-relative">
            <div class="product__bundle-slider-box">
              <div class="swiper-button-prev custom-swiper-button-prev js-products-bundle-prev-product-2">
                {% render 'icon-arrow' %}
              </div>
              <div class="swiper-button-next custom-swiper-button-next js-products-bundle-next-product-2">
                {% render 'icon-arrow' %}
              </div>
              <div class="product__bundle-slider-init js-bundle-slider-init-product-2" data-slider-wrapper="product-2">
                <div class="swiper-wrapper swiper-container">
                  {% for variant in product.metafields.custom.bundled_product_2.value.variants %}
                    {%- liquid
                      if variant.product.has_only_default_variant
                        assign bundle_variant_image = variant.product.featured_image
                      else
                        if variant.featured_image
                          assign bundle_variant_image = variant.featured_image
                        else
                          assign bundle_variant_image = variant.product.featured_image
                        endif
                      endif
                    -%}
                    <div class="swiper-slide" data-variant-id="{{ variant.id }}">
                      {{ bundle_variant_image | image_url: width: 460 | image_tag }}
                    </div>
                  {% endfor %}
                </div>
              </div>
              <p class="product__bundle-slider-label">{{ 'bundles.item' | t }} 2</p>
            </div>
          </div>
          <script>
            document.addEventListener("DOMContentLoaded", () => {
              const collectionSlider = new Swiper(".js-bundle-slider-init-product-2", {
                  slidesPerView: 1,
                  spaceBetween: 16,
                  centeredSlides: true,
                  breakpoints: {
                    900: {
                      slidesPerView: 2,
                      spaceBetween: 21,
                      centeredSlides: true,
          
                    },
                    1024: {
                      slidesPerView: 3,
                      spaceBetween: 21,
                      centeredSlides: true,
                    }
                  },
                  navigation: {
                    nextEl: ".js-products-bundle-next-product-2",
                    prevEl: ".js-products-bundle-prev-product-2",
                  },
              });
          });
          </script>
          <div class="product__bundle-info" data-info-wrapper="product-2">
            <p class="product__bundle-info-label">{{ 'bundles.item' | t }} 2</p>
            <h4>{{ product.metafields.custom.bundled_product_2.value.title }}</h4>
            {% render 'product-variant-picker', product: product.metafields.custom.bundled_product_2.value, block_index: 'product-2', skip_legend: true, block: section, product_form_id: product_form_id %}
            <a class="product__bundle-info-link" href="{{ product.metafields.custom.bundled_product_2.value.url }}">More about {{ product.metafields.custom.bundled_product_2.value.title }}</a>
          </div>
        </div>
      {% endif %}
      {% if product.metafields.custom.bundled_product_3.value != blank %}
        <div class="product__bundle-item d-flex">
          <div class="product__bundle-slider position-relative">
            <div class="product__bundle-slider-box">
              <div class="swiper-button-prev custom-swiper-button-prev js-products-bundle-prev-product-3">
                {% render 'icon-arrow' %}
              </div>
              <div class="swiper-button-next custom-swiper-button-next js-products-bundle-next-product-3">
                {% render 'icon-arrow' %}
              </div>
              <div class="product__bundle-slider-init js-bundle-slider-init-product-3" data-slider-wrapper="product-3">
                <div class="swiper-wrapper swiper-container">
                  {% for variant in product.metafields.custom.bundled_product_3.value.variants %}
                    {%- liquid
                      if variant.product.has_only_default_variant
                        assign bundle_variant_image = variant.product.featured_image
                      else
                        if variant.featured_image
                          assign bundle_variant_image = variant.featured_image
                        else
                          assign bundle_variant_image = variant.product.featured_image
                        endif
                      endif
                    -%}
                    <div class="swiper-slide" data-variant-id="{{ variant.id }}">
                      {{ bundle_variant_image | image_url: width: 460 | image_tag }}
                    </div>
                  {% endfor %}
                </div>
              </div>
              <p class="product__bundle-slider-label">{{ 'bundles.item' | t }} 3</p>
            </div>
          </div>
          <script>
            document.addEventListener("DOMContentLoaded", () => {
              const collectionSlider = new Swiper(".js-bundle-slider-init-product-3", {
                  slidesPerView: 1,
                  spaceBetween: 16,
                  centeredSlides: true,
                  breakpoints: {
                    900: {
                      slidesPerView: 2,
                      spaceBetween: 21,
                      centeredSlides: true,
          
                    },
                    1024: {
                      slidesPerView: 3,
                      spaceBetween: 21,
                      centeredSlides: true,
                    }
                  },
                  navigation: {
                    nextEl: ".js-products-bundle-next-product-3",
                    prevEl: ".js-products-bundle-prev-product-3",
                  },
              });
          });
          </script>
          <div class="product__bundle-info" data-info-wrapper="product-3">
            <p class="product__bundle-info-label">{{ 'bundles.item' | t }} 3</p>
            <h4>{{ product.metafields.custom.bundled_product_3.value.title }}</h4>
            {% render 'product-variant-picker', product: product.metafields.custom.bundled_product_3.value, block_index: 'product-3',  skip_legend: true, block: section, product_form_id: product_form_id %}
            <a class="product__bundle-info-link" href="{{ product.metafields.custom.bundled_product_3.value.url }}">More about {{ product.metafields.custom.bundled_product_3.value.title }}</a>
          </div>
        </div>
      {% endif %}

      {% comment %} {% for bundled_product in product.metafields.custom.bundled_products.value %}
        <div class="product__bundle-item d-flex">
          <div class="product__bundle-slider position-relative">
            <div class="product__bundle-slider-box">
              <div class="swiper-button-prev custom-swiper-button-prev js-products-bundle-prev-{{ bundled_product.handle }}">
                {% render 'icon-arrow' %}
              </div>
              <div class="swiper-button-next custom-swiper-button-next js-products-bundle-next-{{ bundled_product.handle }}">
                {% render 'icon-arrow' %}
              </div>
              <div class="product__bundle-slider-init js-bundle-slider-init-{{ bundled_product.handle }}" data-slider-wrapper="{{ bundled_product.handle }}">
                <div class="swiper-wrapper swiper-container">
                  {% for variant in bundled_product.variants %}
                    {%- liquid
                      if variant.product.has_only_default_variant
                        assign bundle_variant_image = variant.product.featured_image
                      else
                        if variant.featured_image
                          assign bundle_variant_image = variant.featured_image
                        else
                          assign bundle_variant_image = variant.product.featured_image
                        endif
                      endif
                    -%}
                    <div class="swiper-slide" data-variant-id="{{ variant.id }}">
                      {{ bundle_variant_image | image_url: width: 460 | image_tag }}
                    </div>
                  {% endfor %}
                </div>
              </div>
              <p class="product__bundle-slider-label">{{ 'bundles.item' | t }} {{ forloop.index }}</p>
            </div>
          </div>
          <script>
            document.addEventListener("DOMContentLoaded", () => {
              const collectionSlider = new Swiper(".js-bundle-slider-init-{{ bundled_product.handle }}", {
                  slidesPerView: 1,
                  spaceBetween: 16,
                  centeredSlides: true,
                  breakpoints: {
                    900: {
                      slidesPerView: 2,
                      spaceBetween: 21,
                      centeredSlides: true,
          
                    },
                    1024: {
                      slidesPerView: 3,
                      spaceBetween: 21,
                      centeredSlides: true,
                    }
                  },
                  navigation: {
                    nextEl: ".js-products-bundle-next-{{ bundled_product.handle }}",
                    prevEl: ".js-products-bundle-prev-{{ bundled_product.handle }}",
                  },
              });
          });
          </script>
          <div class="product__bundle-info" data-info-wrapper="{{ bundled_product.handle }}">
            <p class="product__bundle-info-label">{{ 'bundles.item' | t }} {{ forloop.index }}</p>
            <h4>{{ bundled_product.title }}</h4>
            {% render 'product-variant-picker', product: bundled_product, block_index: block_index, skip_legend: true, block: section, product_form_id: product_form_id %}
            <a class="product__bundle-info-link" href="{{ bundled_product.url }}">More about {{ bundled_product.title }}</a>
          </div>
        </div>
      {% endfor %} {% endcomment %}
    </div>
    
    <div class="product__bundle-bottom-wrapper d-flex">
      <div class="product__bundle-bottom-background"></div>
      <div class="product__bundle-bottom">

        <div class="product__custom-price">
          {% if product.available %}
            <span class="product__custom-price-label">{{ 'bundles.bundled_total' | t }}</span>
            {% if product.compare_at_price > product.price %}
              <span class="product-price sale">
                <span class="original-price">{{ product.compare_at_price | money }}</span>
                <span class="discounted-price">{{ product.price | money }}</span>
              </span>
            {% else %}
              <span class="product-price">{{ product.price | money }}</span>
            {% endif %}
          {% else %}
            <span class="product-price sold-out">{{- 'products.product.sold_out' | t -}}</span>
          {% endif %}
  
        </div>
      
        {%- for block in section.blocks -%}
          <div
            class="
              product-block
              product-block--{{ block.type | downcase | replace: '_', '-' }}
              {% if forloop.first == true %}
                product-block--first
              {% endif %}
            "
            {{ block.shopify_attributes }}
          >
            {%- if block.type == 'vendor' -%}
              {% comment %} Vendor {% endcomment %}
              <p class="vendor">
                <span class="vendor">
                  {% if section_onboarding %}
                    Vendor name
                  {% else %}
                    {{ product.vendor | link_to_vendor }}
                  {% endif %}
                </span>
              </p>
    
            {%- elsif block.type == 'sku' -%}
              {% comment %} Sku {% endcomment %}
              <p class="sku">
                {% if section_onboarding %}
                  1234567890
                {% else %}
                  {{ selected_variant.sku }}
                {% endif %}
              </p>
    
            {%- elsif block.type == 'title' -%}
              {% comment %} Name {% endcomment %}
              <h1 class="product-title title">
                {% if is_product_modal %}
                  <a href="{{ product.url }}">{{ product.title }}</a>
                {% elsif section_onboarding %}
                  {{ 'homepage.onboarding.product_title' | t }}
                {% else %}
                  {{ product.title }}
                {% endif %}
              </h1>
            {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: true, product: product %}
            {%- elsif block.type == 'size-chart' -%}
              {% comment %} Size chart {% endcomment %}
              {% for tag in product.tags %}
                {% if tag contains 'meta-size-chart-' %}
                  {% assign meta_size_chart = true %}
                {% endif %}
              {% endfor %}
    
              {% if settings.size_chart != blank or block.settings.size_chart != blank or meta_size_chart %}
                <a
                  class="product__size-chart"
                  href="javascript:;"
                  data-fancybox
                  data-src="#size-chart{{ product.id }}"
                  data-type="inline"
                >
                  {{ block.settings.title | escape }}
                </a>
                {%
                  render 'popup-size-chart',
                  block: block,
                  product_id: product.id,
                %}
              {% endif %}
    
            {%- elsif block.type == 'price' -%}
              {% comment %} Price {% endcomment %}
              <div class="modal_price subtitle" data-display-savings="{{ block.settings.display_savings }}">
                {% if section_onboarding %}
                  <span class="money">$49.00</span>
                {% elsif product.available == false %}
                  <span class="sold_out">
                    {{- 'products.product.sold_out' | t -}}
                  </span>
                {% else %}
                  {% comment %}Inject @pixelunion/shopify-price-ui/price-ui begin{% endcomment %}
                  <div class="price-ui price-ui--loading" data-price-ui>
                    <noscript>
                      <style>
                        .price-ui--loading {
                          display: block !important;
                          opacity: 1 !important;
                        }
                      </style>
                    </noscript>
                    {% assign compare_at_price = false %}
                  
                    {% if product.compare_at_price and product.compare_at_price != product.price %}
                      {% if product.compare_at_price_varies %}
                        {%- capture price_min -%}
                          {%-
                            render 'price-ui-templates',
                            template: 'price-min',
                            value: product.compare_at_price_min,
                          -%}
                        {%- endcapture -%}
                  
                        {%- capture price_max -%}
                          {%-
                            render 'price-ui-templates',
                            template: 'price-max',
                            value: product.compare_at_price_max,
                          -%}
                        {%- endcapture -%}
                  
                        {%- assign compare_at_price = 'product.price.range_html' | t: price_min: price_min, price_max: price_max -%}
                      {% else %}
                        {%- capture compare_at_price -%}
                          {%-
                            render 'price-ui-templates',
                            template: 'price',
                            value: product.compare_at_price,
                          -%}
                        {%- endcapture -%}
                      {% endif %}
                    {% endif %}
                  
                    {% if product.price_varies %}
                      {%- capture price_min -%}
                        {%-
                          render 'price-ui-templates',
                          template: 'price-min',
                          value: product.price_min,
                        -%}
                      {%- endcapture -%}
                  
                      {%- capture price_max -%}
                        {%-
                          render 'price-ui-templates',
                          template: 'price-max',
                          value: product.price_max,
                        -%}
                      {%- endcapture -%}
                  
                      {%- assign price = 'product.price.range_html' | t: price_min: price_min, price_max: price_max -%}
                    {% else %}
                      {%- capture price -%}
                        {%-
                          render 'price-ui-templates',
                          template: 'price',
                          value: product.price,
                        -%}
                      {%- endcapture -%}
                    {% endif %}
                  
                    {%-
                      render 'price-ui-templates',
                      template: 'price-ui',
                      compare_at_price: compare_at_price,
                      price: price,
                      unit_pricing: false,
                    -%}
                  </div>
                  {% comment %}Inject @pixelunion/shopify-price-ui/price-ui end{% endcomment %}
    
                {% endif %}
              </div>
    
            {%- elsif block.type == 'complementary_products' -%}
              {% comment %} Complementary products {% endcomment %}
              {%
                render 'complementary-products',
                product: product,
                block: block,
              %}
    
            {%- elsif block.type == 'description' -%}
              {% liquid
                if block.settings.product_description != blank
                  assign product_description = block.settings.product_description
                elsif product.description != blank
                  if is_product_modal and block.settings.truncate_words
                    assign product_description = product.description | strip_html | truncatewords: block.settings.truncate_words_limit | escape | split: '<!-- split -->' | first
                  else
                    assign product_description = product.description | split: '<!-- split -->' | first
                  endif
                elsif section_onboarding
                  assign product_description = 'homepage.onboarding.product_description' | t
                endif
              %}
    
              <div class="product__description content">
                <div
                  class="
                    has-padding-top
                    {% if block.settings.mobile_product_description != blank %}
                      is-hidden-mobile-only
                    {% endif %}
                  "
                >
                  {{- product_description -}}
                </div>
    
                {% if block.settings.mobile_product_description != blank %}
                  <div class="is-hidden-desktop-only has-padding-top">
                    {{- block.settings.mobile_product_description -}}
                  </div>
                {% endif %}
              </div>
    
              {% if is_product_modal %}
                <a
                  class="product__view-details"
                  href="{{ product.url | within: collection }}"
                  title="{{ product.title | escape }}"
                >
                  {{- 'collections.general.view_product_details' | t -}}
                </a>
              {% endif %}
    
            {%- elsif block.type == 'form' -%}
              {% comment %} Purchase form {% endcomment %}
              {% if section_onboarding %}
                <div class="product-form-container has-padding-top">
                  <div class="purchase-details">
                    <div class="purchase-details__buttons purchase-details__spb--false">
                      <button name="add" class="action_button button button--add-to-cart add_to_cart" data-label={{ add_to_cart_label | json }}><span class="text">{{ 'products.product.add_to_cart' | t }}</span></button>
                    </div>
                  </div>
                </div>
              {% else %}
                <div class="product-form-container has-padding-top">
    
                  {% comment %} Notify form {% endcomment %}
                  {% render 'product__notify-me-form', product: product %}
    
                  {% comment %} Product form {% endcomment %}
                  {% unless collection_handles contains 'coming-soon' %}
                    {%
                      render 'product__form',
                      context: 'product',
                      product: product,
                      sold_out_options: sold_out_options,
                      selected_variant: selected_variant,
                      show_payment_button: block.settings.show_payment_button,
                      show_recipient_form: block.settings.show_gift_card_recipient_form,
                      collection_handles: collection_handles
                    %}
                  {% endunless %}
                </div>
              {% endif %}
    
            {%- elsif block.type == 'product-links' -%}
              {% comment %} Collections, type, tags {% endcomment %}
              {% if block.settings.show_collections or block.settings.show_tags or block.settings.show_type %}
                <div class="product__classification-links has-padding-top">
                  {% if block.settings.show_collections %}
                    <p class="product__collections-list tags">
                      <span class="product__classification-title">{{ 'products.product.collections' | t }}:</span>
                      {% for col in product.collections %}
                        <span class="tag tag--{{ tag_style }}">
                          <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>
                        </span>
                      {% endfor %}
                    </p>
                  {% endif %}
    
                  {% if block.settings.show_type %}
                    <p class="product__type-list tags">
                      <span class="product__classification-title">{{ 'products.product.product_types' | t }}:</span>
                      <span class="tag tag--{{ tag_style }}">{{ product.type | link_to_type }}</span>
                    </p>
                  {% endif %}
    
                  {% if block.settings.show_tags and product.tags.size > 0 %}
                    <p class="product__tags-list tags">
                      <span class="product__classification-title">{{ 'products.product.tags' | t }}:</span>
                      {% for tag in product.tags %}
                        {% unless tag contains 'meta-' %}
                          <span class="tag tag--{{ tag_style }}">
                            <a href="{{ routes.collections_url }}/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>
                          </span>
                        {% endunless %}
                      {% endfor %}
                    </p>
                  {% endif %}
                </div>
              {% endif %}
    
            {%- elsif block.type == 'rating' -%}
              {% if product.metafields.reviews.rating.value != blank %}
                <div class="product__rating rating">
                  {%
                    render 'rating-stars',
                    value: product.metafields.reviews.rating.value.rating,
                    scale_max: product.metafields.reviews.rating.value.scale_max,
                  %}
    
                  <p class="rating__text">
                    <span aria-hidden="true">
                      {{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}
                    </span>
                  </p>
    
                  <p class="rating__count">
                    <span aria-hidden="true">
                      {{ product.metafields.reviews.rating_count }}
                      {% if product.metafields.reviews.rating_count > 1 %}
                        {{ "general.accessibility.star_reviews_text" | t }}
                      {% else %}
                        {{ "general.accessibility.star_review_text" | t }}
                      {% endif %}
                    </span>
                  </p>
                </div>
              {% endif %}
    
            {%- elsif block.type == 'share' -%}
              {% comment %} Social share icons {% endcomment %}
              <div class="product__social-share has-padding-top">
                {% render 'social-share-buttons' %}
              </div>
    
            {%- elsif block.type == 'text' -%}
              {% comment %} Text {% endcomment %}
              <div class="product-text">
                {{ block.settings.text }}
              </div>
            {% elsif block.type == '@app' %}
              <div class="product-app">
                {% render block %}
              </div>
            {%- endif -%}
          </div>
        {%- endfor -%}

      </div>
    </div>

  </div>

</div>



<script>
  document.addEventListener('DOMContentLoaded', function () {
    const bundleInput = document.querySelector('input[name="properties[_bundleVariantIds]"]');
    const optionsInput = document.querySelector('input[name="properties[_bundleOptionsIds]"]');
  
    if (!bundleInput) console.log('No hidden input for _bundleVariantIds found.');
    if (!optionsInput) console.log('No hidden input for _bundleOptionsIds found.');
  
    function updateBundleVariantIds() {
      if (!bundleInput) return;
      const checkedInputs = document.querySelectorAll('[data-option-variant-id]:checked');
      const ids = Array.from(checkedInputs).map(input => input.getAttribute('data-option-variant-id'));
      bundleInput.value = ids.join(',');
      console.log('Updated _bundleVariantIds:', bundleInput.value);
    }
  
    function updateBundleOptionsIds() {
      if (!optionsInput) return;
      const optionSpans = document.querySelectorAll('[data-selected-value]');
      const values = Array.from(optionSpans).map(span => span.textContent.trim());
      optionsInput.value = values.join(', ');
      console.log('Updated _bundleOptionsIds:', optionsInput.value);
    }
  
    function updateSelectedValueDisplay(input) {
      const value = input.value;
      const infoWrapper = input.closest('[data-info-wrapper]');
      if (!infoWrapper) return;
      const selectedValueElement = infoWrapper.querySelector('[data-selected-value]');
      if (selectedValueElement) {
        selectedValueElement.innerHTML = value;
        console.log('Updated selected value display to:', value);
      }
    }
  
    function toggleAddToCartButtonState() {
      const addToCartButton = document.querySelector('[data-add-to-cart-trigger]');
      if (!addToCartButton) return;
      const checkedInput = document.querySelector('[data-option-variant-id]:checked');
      if (!checkedInput) return;
      const isDisabled = checkedInput.classList.contains('visually-disabled');
      addToCartButton.disabled = isDisabled;
      console.log(`Add to cart button ${isDisabled ? 'disabled' : 'enabled'}`);
    }
  
    console.log('Initializing variant pickers for bundled products…');
  
    const bundleWrappers = document.querySelectorAll('[data-info-wrapper]');
  
    bundleWrappers.forEach(wrapper => {
      const inputs = wrapper.querySelectorAll('[data-option-variant-id]');
      const wrapperId = wrapper.getAttribute('data-info-wrapper');
      const sliderWrapper = document.querySelector(`[data-slider-wrapper="${wrapperId}"]`);
  
      if (!inputs.length) return;
  
      inputs.forEach(input => {
        input.addEventListener('change', function () {
          if (!input.checked) return;
  
          const variantId = input.getAttribute('data-option-variant-id');
          console.log(`Checked variant ID: ${variantId} (group ${wrapperId})`);
  
          updateSelectedValueDisplay(input);
          updateBundleVariantIds();
          updateBundleOptionsIds();
          toggleAddToCartButtonState();
  
          if (!sliderWrapper) return;
  
          const slides = sliderWrapper.querySelectorAll('.swiper-slide');
          let targetIndex = -1;
          slides.forEach((slide, index) => {
            if (slide.getAttribute('data-variant-id') === variantId) targetIndex = index;
          });
  
          if (targetIndex !== -1 && sliderWrapper.swiper) {
            sliderWrapper.swiper.slideTo(targetIndex);
          }
        });
      });
  
      // Отслеживание смены слайда только в текущем блоке
      if (sliderWrapper && sliderWrapper.swiper) {
        const swiper = sliderWrapper.swiper;
        swiper.on('slideChange', function () {
          const activeSlide = swiper.slides[swiper.activeIndex];
          const variantId = activeSlide.getAttribute('data-variant-id');
          if (!variantId) return;
          const targetInput = wrapper.querySelector(`[data-option-variant-id="${variantId}"]`);
          if (targetInput) {
            targetInput.checked = true;
            targetInput.dispatchEvent(new Event('change', { bubbles: true }));
          }
        });
      }
  
      // visually-disabled слайды
      inputs.forEach(input => {
        const variantId = input.getAttribute('data-option-variant-id');
        if (!variantId || !input.classList.contains('visually-disabled')) return;
        const slide = sliderWrapper?.querySelector(`.swiper-slide[data-variant-id="${variantId}"]`);
        if (slide) slide.classList.add('visually-disabled');
      });
    });
  
    toggleAddToCartButtonState();
  });
  
  
  
  
  


  document.addEventListener('DOMContentLoaded', function () {
    const MOBILE_WIDTH = 1024;
  
    function isMobileView() {
      return window.innerWidth < MOBILE_WIDTH;
    }
  
    function updateSelectedSwatch(accordion) {
      const fieldset = accordion.querySelector('fieldset');
      const toggleBtn = accordion.querySelector('.accordion-toggle');
  
      if (!fieldset || !toggleBtn) return;
  
      const checkedInput = fieldset.querySelector('input[type="radio"]:checked');
      if (!checkedInput) return;
  
      const label = fieldset.querySelector(`label[for="${checkedInput.id}"]`);
      if (!label) return;
  
      const swatch = label.querySelector('.swatch');
      if (!swatch) return;
  
      const clone = swatch.cloneNode(true);
      clone.classList.add('selected-swatch');
      toggleBtn.innerHTML = '';
      toggleBtn.appendChild(clone);
    }
  
    function setupAccordion(accordion) {
      const toggleBtn = accordion.querySelector('.accordion-toggle');
      const fieldset = accordion.querySelector('fieldset');
      if (!toggleBtn || !fieldset) return;
  
      const onToggleClick = (e) => {
        e.stopPropagation();
        const isOpen = accordion.classList.toggle('open');
        toggleBtn.setAttribute('aria-expanded', isOpen);
      };
  
      const onOutsideClick = (e) => {
        if (!accordion.contains(e.target)) {
          accordion.classList.remove('open');
          toggleBtn.setAttribute('aria-expanded', false);
        }
      };
  
      const onSwatchChange = () => {
        updateSelectedSwatch(accordion);
        accordion.classList.remove('open');
        toggleBtn.setAttribute('aria-expanded', false);
      };
  
      toggleBtn.addEventListener('click', onToggleClick);
      document.addEventListener('click', onOutsideClick);
      fieldset.addEventListener('change', onSwatchChange);
  
      accordion._handlers = { onToggleClick, onOutsideClick, onSwatchChange };
      accordion.dataset.initialized = 'true';
  
      updateSelectedSwatch(accordion);
    }
  
    function destroyAccordion(accordion) {
      if (accordion.dataset.initialized !== 'true') return;
  
      const toggleBtn = accordion.querySelector('.accordion-toggle');
      const fieldset = accordion.querySelector('fieldset');
      const handlers = accordion._handlers || {};
  
      if (handlers.onToggleClick) toggleBtn.removeEventListener('click', handlers.onToggleClick);
      if (handlers.onOutsideClick) document.removeEventListener('click', handlers.onOutsideClick);
      if (handlers.onSwatchChange) fieldset.removeEventListener('change', handlers.onSwatchChange);
  
      toggleBtn.innerHTML = '';
      toggleBtn.removeAttribute('aria-expanded');
      accordion.classList.remove('open');
      accordion.dataset.initialized = 'false';
    }
  
    function handleAccordions() {
      const accordions = document.querySelectorAll('.swatch-accordion');
      const isMobile = isMobileView();
  
      accordions.forEach((accordion) => {
        if (isMobile && accordion.dataset.initialized !== 'true') {
          setupAccordion(accordion);
        } else if (!isMobile && accordion.dataset.initialized === 'true') {
          destroyAccordion(accordion);
        }
      });
    }
  
    handleAccordions();
    window.addEventListener('resize', handleAccordions);
  });
  
  
  
  
  
</script>