{%- comment -%}
  🧰 Rich text section
{%- endcomment -%}

<section
  class="
    pxu-section
    pxu-rich-text
  "
  style="
    --pxu-section-width: {{ section.settings.content_width }};
    --pxu-section-text-color: {{ section.settings.text_color }};
    --pxu-section-background-color: {{ section.settings.background_color }};
    --pxu-section-padding-top: {{ section.settings.padding_top }}px;
    --pxu-section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --pxu-section-margin-top: {{ section.settings.margin_top }}px;
    --pxu-section-margin-bottom: {{ section.settings.margin_bottom }}px;
    --pxu-section-content-alignment: {{ section.settings.content_alignment }};
  "
>
  <script
    type="application/json"
    data-component-data
  >
    {
      "id": "pxu-rich-text",
      "name": "Rich text",
      "version": "1.0.2"
    }
  </script>

  <div class="pxu-section__container">
    <div class="pxu-rich-text__inner">
      {%- if section.blocks.size > 0 -%}
        {%- for block in section.blocks -%}
          <div {{ block.shopify_attributes }}>
            {%- case block.type -%}
              {%- when 'heading' -%}
                <div class="pxu-rich-text__inner-text-container">
                  {%- assign heading = block.settings.heading -%}
                  {%- if heading != blank -%}
                    <h2
                      class="
                        pxu-rich-text__heading
                        pxu-heading
                        {% if forloop.first %} pxu-rich-text__first-block {% endif %}
                      "
                      style="
                        --pxu-rich-text-block-heading-size: {{ block.settings.heading_size }}px;
                        --pxu-rich-text-block-heading-size-mobile: {{ block.settings.heading_size_mobile }}px;
                      "
                    >
                      {{- heading -}}
                    </h2>
                  {%- endif -%}
                </div>

              {%- when 'text' -%}
                <div class="pxu-rich-text__inner-text-container ">
                  {%- assign text = block.settings.text -%}
                  {%- if text != blank -%}
                    <div
                      class="
                        pxu-rich-text__text
                        pxu-rte
                        {% if forloop.first %} pxu-rich-text__first-block {% endif %}
                      "
                      style="
                        --pxu-rich-text-block-text-size: {{ block.settings.text_size }}px;
                        --pxu-rich-text-block-text-size-mobile: {{ block.settings.text_size_mobile }}px;
                      "
                    >
                      {{- text -}}
                    </div>
                  {%- endif -%}
                </div>
              {%- when 'buttons' -%}
                {%- liquid
                  assign button_1_label = block.settings.button_1_label | escape
                  assign button_1_url = block.settings.button_1_url
                  assign button_1_style = block.settings.button_1_style
                  assign button_1_background_color = block.settings.button_1_background_color
                  assign button_1_text_color = block.settings.button_1_text_color
                  assign button_1_brightness = button_1_background_color | color_brightness
                  assign button_1_brightness_mod = 'light-on-dark'
                  if button_1_brightness > 127.5
                    assign button_1_brightness_mod = 'dark-on-light'
                  endif

                  assign button_2_label = block.settings.button_2_label | escape
                  assign button_2_url = block.settings.button_2_url
                  assign button_2_style = block.settings.button_2_style
                  assign button_2_background_color = block.settings.button_2_background_color
                  assign button_2_text_color = block.settings.button_2_text_color
                  assign button_2_brightness = button_2_background_color | color_brightness
                  assign button_2_brightness_mod = 'light-on-dark'
                  if button_2_brightness > 127.5
                    assign button_2_brightness_mod = 'dark-on-light'
                  endif
                -%}

                {%- if button_1_label != blank or button_2_label != blank -%}
                  <div
                    class="
                      pxu-btn-group
                      pxu-rich-text__btn-group
                      {% if forloop.first %}pxu-rich-text__first-block {% endif %}
                    "
                  >
                    {%- if button_1_label != blank -%}
                      <a
                        class="
                          pxu-btn
                          pxu-btn--{{ button_1_style }}
                          pxu-btn--{{ button_1_brightness_mod }}
                        "
                        style="
                          --pxu-btn-background-color: {{ button_1_background_color }};
                          --pxu-btn-text-color: {{ button_1_text_color }};
                        "
                        href="{{ button_1_url }}"
                      >
                        {{- button_1_label -}}
                      </a>
                    {%- endif -%}

                    {%- if button_2_label != blank -%}
                      <a
                        class="
                          pxu-btn
                          pxu-btn--{{ button_2_style }}
                          pxu-btn--{{ button_2_brightness_mod }}
                        "
                        style="
                          --pxu-btn-background-color: {{ button_2_background_color }};
                          --pxu-btn-text-color: {{ button_2_text_color }};
                        "
                        href="{{ button_2_url }}"
                      >
                        {{- button_2_label -}}
                      </a>
                    {%- endif -%}
                  </div>
                {%- endif -%}
            {%- endcase -%}
          </div>
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</section>

<style type="text/css">
.pxu-section{--pxu-current-bp:"xxs"}@media only screen and (min-width:480px){.pxu-section{--pxu-current-bp:"xs"}}@media only screen and (min-width:720px){.pxu-section{--pxu-current-bp:"small"}}@media only screen and (min-width:860px){.pxu-section{--pxu-current-bp:"medium"}}@media only screen and (min-width:1024px){.pxu-section{--pxu-current-bp:"large"}}.pxu-rich-text{background-color:var(--pxu-section-background-color);color:var(--pxu-section-text-color);margin-bottom:calc(var(--pxu-section-margin-bottom, 0)*.75);margin-top:calc(var(--pxu-section-margin-top, 0)*.75);padding:calc(var(--pxu-section-padding-top, 0)*.75) var(--pxu-space-4) calc(var(--pxu-section-padding-bottom, 0)*.75);text-align:var(--pxu-section-content-alignment)}@media only screen and (min-width:480px){.pxu-rich-text{margin-bottom:var(--pxu-section-margin-bottom,0);margin-top:var(--pxu-section-margin-top,0);padding:var(--pxu-section-padding-top,0) var(--pxu-space-8) var(--pxu-section-padding-bottom,0)}}.pxu-rich-text__inner{display:flex;flex-direction:column;gap:var(--pxu-space-5);padding-left:var(--pxu-space-4);padding-right:var(--pxu-space-4)}.pxu-rich-text__inner .pxu-rich-text__first-block{margin-top:0}.pxu-rich-text__btn-group{margin-top:var(--pxu-space-3)}.pxu-rich-text__heading.pxu-heading{color:var(--pxu-section-text-color);font-size:var(--pxu-rich-text-block-heading-size-mobile);margin-block-end:0;margin-block-start:0}@media only screen and (min-width:860px){.pxu-rich-text__heading.pxu-heading{font-size:var(--pxu-rich-text-block-heading-size)}}.pxu-rich-text__text{font-size:var(--pxu-rich-text-block-text-size-mobile)}@media only screen and (min-width:860px){.pxu-rich-text__text{font-size:var(--pxu-rich-text-block-text-size)}}</style>
{% schema %}
{
  "name": "t:pxu_sections.sections.rich_text.name",
  "class": "pxu-rich-text-section",
  "settings": [
    {
      "type": "select",
      "id": "content_width",
      "label": "t:pxu_sections.common.content_width.label",
      "options": [
        {
          "value": "650px",
          "label": "t:pxu_sections.common.content_width.regular"
        },
        {
          "value": "800px",
          "label": "t:pxu_sections.common.content_width.wide"
        },
        {
          "value": "100%",
          "label": "t:pxu_sections.common.content_width.full_width"
        }
      ],
      "default": "650px"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:pxu_sections.common.layout.content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:pxu_sections.common.layout.left"
        },
        {
          "value": "center",
          "label": "t:pxu_sections.common.layout.center"
        },
        {
          "value": "right",
          "label": "t:pxu_sections.common.layout.right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:pxu_sections.common.color.color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:pxu_sections.common.color.text_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:pxu_sections.common.color.background_color",
      "default": "#F8F8F8"
    },
    {
      "type": "header",
      "content": "t:pxu_sections.common.padding.header"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:pxu_sections.common.padding.top",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:pxu_sections.common.padding.bottom",
      "default": 64
    },
    {
      "type": "header",
      "content": "t:pxu_sections.common.margin.header"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:pxu_sections.common.margin.top",
      "default": 64
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:pxu_sections.common.margin.bottom",
      "default": 64
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:pxu_sections.common.heading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:pxu_sections.common.heading.name",
          "default": "t:pxu_sections.sections.rich_text.block_heading.default"
        },
        {
          "type": "range",
          "id": "heading_size",
          "label": "t:pxu_sections.common.heading.heading_size",
          "min": 16,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 40
        },
        {
          "type": "range",
          "id": "heading_size_mobile",
          "label": "t:pxu_sections.common.heading.heading_size_mobile",
          "min": 16,
          "max": 64,
          "step": 1,
          "unit": "px",
          "default": 32
        }
      ]
    },
    {
      "type": "text",
      "name": "t:pxu_sections.common.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:pxu_sections.common.text.content",
          "default": "t:pxu_sections.sections.rich_text.block_text.default"
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "t:pxu_sections.common.text.text_size",
          "min": 12,
          "max": 32,
          "step": 1,
          "unit": "px",
          "default": 16
        },
        {
          "type": "range",
          "id": "text_size_mobile",
          "label": "t:pxu_sections.common.text.text_size_mobile",
          "min": 12,
          "max": 24,
          "step": 1,
          "unit": "px",
          "default": 16
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:pxu_sections.common.button.group",
      "settings": [
        {
          "type": "header",
          "content": "t:pxu_sections.common.button.button_1"
        },
        {
          "type": "text",
          "id": "button_1_label",
          "label": "t:pxu_sections.common.button.label",
          "default": "t:pxu_sections.common.button.button"
        },
        {
          "type": "url",
          "id": "button_1_url",
          "label": "t:pxu_sections.common.button.link"
        },
        {
          "type": "select",
          "id": "button_1_style",
          "label": "t:pxu_sections.common.button.style",
          "options": [
            {
              "value": "fill",
              "label": "t:pxu_sections.common.button.fill"
            },
            {
              "value": "outline",
              "label": "t:pxu_sections.common.button.outline"
            }
          ],
          "default": "fill"
        },
        {
          "type": "color",
          "id": "button_1_background_color",
          "label": "t:pxu_sections.common.color.background_color",
          "default": "#000000",
          "info": "t:pxu_sections.common.button.background_color_info"
        },
        {
          "type": "color",
          "id": "button_1_text_color",
          "label": "t:pxu_sections.common.color.text_color",
          "default": "#FFFFFF"
        },
        {
          "type": "header",
          "content": "t:pxu_sections.common.button.button_2"
        },
        {
          "type": "text",
          "id": "button_2_label",
          "label": "t:pxu_sections.common.button.label",
          "default": "t:pxu_sections.common.button.button"
        },
        {
          "type": "url",
          "id": "button_2_url",
          "label": "t:pxu_sections.common.button.link"
        },
        {
          "type": "select",
          "id": "button_2_style",
          "label": "t:pxu_sections.common.button.style",
          "options": [
            {
              "value": "fill",
              "label": "t:pxu_sections.common.button.fill"
            },
            {
              "value": "outline",
              "label": "t:pxu_sections.common.button.outline"
            }
          ],
          "default": "fill"
        },
        {
          "type": "color",
          "id": "button_2_background_color",
          "label": "t:pxu_sections.common.color.background_color",
          "default": "#000000",
          "info": "t:pxu_sections.common.button.background_color_info"
        },
        {
          "type": "color",
          "id": "button_2_text_color",
          "label": "t:pxu_sections.common.color.text_color",
          "default": "#FFFFFF"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "presets": [
    {
      "name": "t:pxu_sections.sections.rich_text.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}